@charset "utf-8";
/* CSS Document */

body, p, h1, h2, h3, h4, h5, h6, h7, h8, ul, li, di, dt, dd, address {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	vertical-align: bottom;
}


.ds_f{
	display:flex;}
	
.jc_s{
	justify-content:space-between;}
	
	
/*ここまでリセットCSS*/


/*

フォント：YuGothic-Medium
全体色：#555555
コロナのグレー：#e4e5e3
コロナのブルー：#7ecef4
ピンクのボタン・Copyright背景：#ff8989
ニュースのピンク：#ff9393

ここまで使用色・フォント*/


body{
	color: #555555;
	font-family: YuGothic-Medium;
	font-size: 15px;
}
.inner {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.header_pink_bg {
	background-image: url(../images/header_bg.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	
	
}
.gray_bg {
	background-color: #e4e5e3;
}

.main_pink_bg{
	background-image:url(../images/movie_bg.png);
	background-repeat:no-repeat;
	background-size:100% 35%;
	background-position-y:63%;
}



a {text-decoration: none; color:#555555;
}

a:hover {
	opacity: 0.5;
}
/*ここまで全体*/

.nav_btn {
	display: none;
}

.header_sns {
	display: flex;
}
.header_sns li {
	padding-right: 10px;
}
.header_nav {
	display: flex;
	padding-top: 10px;
}
.header_nav li {
	font-size: 13px;
	margin-left: 15px;
}

.header_nav .movie {
	background-image: url(../images/header_nav01.png);
	background-repeat: no-repeat;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
}
.header_nav .food {
	background-image: url(../images/header_nav02.png);
	background-repeat: no-repeat;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
}
.header_nav .concept {
	background-image: url(../images/header_nav03.png);
	background-repeat: no-repeat;
	height: 30px;
	line-height: 30px;
	padding-left: 40px;
}
.header_nav .access {
	background-image: url(../images/header_nav04.png);
	background-repeat: no-repeat;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
}

.header_nav li a{display:block; width:100%; height:100%;}

header {
	padding-top: 50px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
header .flex {
	display: flex;
	justify-content: flex-end;
}
.ticket_button {
	padding-left: 25px;
}
/*ここまでheader*/

.main_visual {
	text-align: center;
	margin-bottom:40px;
}
/*ここまでmain_visual*/


main h4 {
	  background-image: url(../images/icon_heading.png);
    padding-left: 50px;
    height: 57px;
    line-height: 57px;
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 25px;
}

main h5{
	font-size:26px;
	margin:30px 0 20px 70px;
	width:450px;
}

main .food_ttl_abt p{
	font-size:16px;
	margin-left:70px;
	line-height:30px;
}

main .food_ttl img{
position: absolute;
    margin-left: 600px;
}


main .food_ttl{
	margin-bottom:100px;
}
/*ここまでfood_ttl*/

main .section{
	border-top:1px solid #444;
	width:890px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:65px;
	background-color:rgb(255 255 255 / 59%);
}

.shop_about{
	width:450px;
}

main h7{
	color:#807345;
	font-size:14px;
	font-weight:bold;
}

main h7 span{
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:2px;
	margin-right:2px;
}

main dt,dd{
	font-size:12px;
}

main .shop_about_info{
	margin-left: 60px;
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
	padding:30px 25px;	
}
	
.shop_about_info dt{
	float:left;
	clear:left;
	padding:10px 0px;
}
	
.shop_about_info dd{
	padding:10px 0 10px 100px;
	border-bottom:1px solid #444;
}
	


.shop_item{
	width:400px;
}
	

.shop_item h6{
	font-size:32px;
	color:#807345;
	margin:60px 0px 50px;
	text-align:center;
}

.shop_item>p{
	text-align:center;
	margin-bottom:50px;
}


.shop_item h8{
	font-size:20px;
	color:#807345;
	font-weight:bold;
	text-align:right;
}

.shop_item1,.shop_item2{
	background-color:#fdf5e6;
	width:400px;
	height:200px;
}

.shop_menu{
	padding:14px;
}

.shop_menu p{
	font-size:12px;
	li
}

/*-jQuer用-*/
/*-《下から》スクロールするとふわと表示するやつ---*/
.section{
	opacity:0;
  transform: translate(100px, 0); /* フェードインで動く高さを指定 */
  transition: all 1500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

/*-モーダルウィンドウ---*/
#bg{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.4);
	}
	
#photo{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:1000px;
	height:675px;
}

/*-jQuer用-*/


.green_ptn h6,.green_ptn h8{
	color:#77a16f;
}

.green_ptn .shop_menu{
	background-color:#e3f4e5;
}

.pink_ptn h6,.pink_ptn h8{
	color:#ff8989;
}

.pink_ptn .shop_menu{
	background-color:#fff5f4;
}

.totop_button {
	text-align: right;
	padding-top: 135px;
	padding-bottom: 20px;
}



@media screen and (max-width:640px) {

.inner {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.main_pink_bg {
	padding-bottom: 80px;
}
.fix {
	position: fixed;
	background-color: #ffebea;
}
.nav_btn {
	display: block;
	width: 15%;
	height: auto;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #ffebea;
	z-index: 30;
}
header {
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
header h1 {
	position: fixed;
	left: 55px;
	top: 0px;
	width: 85%;
	height: auto;
	background-color: #ffebea;
	z-index: 30;
}

.header_nav {
	display: none;
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	margin-right: auto;
	background-color: #ffebea;
	z-index: 30;
}
.header_nav li {
	height: auto;
	width: 100%;
	margin-left: 0px;
	font-size: 120%;
}
header .flex {
	padding-top: 60px;
}
header .ticket_button {
	width: 30%;
	padding-left: 0px;
}
nav {
	display: none;
}

main .section{
	flex-direction:column-reverse;
	border:none;
	width:100%;
	  transform: translate(0, 100px);
}


.section{
	opacity:0;
  transform: translate(100px, 0); /* フェードインで動く高さを指定 */
  transition: all 1500ms; /* フェードインにかかる時間を指定 */
}


main .shop_about{
	width:99%;
}

main h4 {
	font-size:150%;
}

main .food_ttl img{
	width:50%;
	margin-left: 170px;
}

main h3{
	font-size:100%;
}

main h5{
	font-size:100%;
	margin:30px 0 15px 5px;
	width:100%;
}

main .food_ttl_abt p{
	font-size:70%;
	margin-left:5px;
}

main .food_ttl {
	margin-bottom:0px;
}

main .shop_item>p{
  font-size: 60%;
  margin-bottom: 10px;
}

main .shop_item h6{
	margin:0px;
}

main .shop_item1, .shop_item2 {
	width:99%}
	


main .shop_item h8{
	font-size:88%;
}

main .shop_item p{
	font-size:69%;
}

main .shop_item{
	width:auto;
}

.totop_button { width:10%;
	padding-top: 0px;
	padding-bottom:0px;
	 margin-left:auto;
}

footer .footer_nav {
	flex-direction: column;
	font-size: 100%;
}
footer .footer_menu {
	display: block;
}
footer .company {
	width: 100%;
	padding-left: 0px;
	font-size: 120%;
}
footer address {
	font-size: 100%;
}
footer .tel {
	font-size: 100%;
	height: auto;
}
footer .footer_sns {
	width: 30%;
	padding-top: 30px;
}
footer .footer_menu {
	padding-bottom: 10px;
}

}